@import './globalsValors.css' all;



.footer-container{
    background-color: var(--VeryDarkCyan);
    margin-top: -4px;
    padding: 50px 200px;
    color: var(--VeryPaleBlue);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.footer-container {
    font-family: var(--fontBody);
}

.footer-container p{
    font-size: 13px;
}

.footer-div1{
 width: 25%;
}
.logo-container{
    font-family: var(--fontHeading);
}

.footer-div1 div{
    display: flex;
    align-items: center;
}

.footer-div1 p{
   font-weight: 600;
}
.footer-div1 img{
    margin-right: 10px; 
}
.footer-div2{
    width: 35%;
}


.footer-div2 input{
    border: none;
    width: 50%;
    border-radius: 5px;
    padding: 12px 15px;
}

.footer-div2 button{
    border: none;
    border-radius: 5px;
    padding: 12px 35px;
    color: var(--VeryPaleBlue);
    background-color: var(--Pink);
    margin-left: 30px;
    cursor: pointer;
}

.footer-div2 button:active{
    transform: scale(1.2);
}

.footer-div2 p{
   width: 72%;
}
.div-redes{
    margin-top: 20px;
}


.div-redes img:hover{
    cursor: pointer;
    background-color: rgb(21, 21, 188);
    padding: 5px;
    border-radius: 10px;
}





@media (max-width: 700px) {
    .footer-container{
        margin-top: -5px;
        padding: 30px;
        flex-direction: column-reverse;
    }
    .footer-div2 input {
       width: 90%;
       margin-bottom: 20px;
   }
    .footer-div2 p{
        width: 100%;
     }
    .footer-div2 {
        width: 100%;
    }
    .div-subscribe{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .footer-div1{
        width: 100%;
    }
   
}