@import './globalsValors.css' all;


.section2{
   display: flex;
   flex-direction: column;
}

.section2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--VeryPaleBlue);
    margin-top: -4px;
    
    
}

.section2-container div{
    width: 30%;
    margin: 50px auto;
}



.section2-container img{
    width: 100%;
    height: 100%;
}

.section2-container2{
    background-color: #fff;
    margin: 100px 0;
}

.section2-text h2{
    font-family: var(--fontHeading);
    color: var(--VeryDarkCyan);
    font-size: 40px;
}
.section2-text p{
    width: 90%; 
    font-family: var(--fontBody);
    color: var(--VeryDarkCyan);
    font-size: 16px;
    font-weight: 600;
}


.section-top{
    width: 100%;
}

.bg-section{
    width: 100%;
}

@media (max-width: 375px) {
    .section2-container{
        flex-direction: column-reverse;
    }
    .section2-container2{
        flex-direction: column;
    
    }

    .section2-container div{
        width: 80%;
        margin: 50px auto;
    }
    .section2-text h2{
        text-align: center;
        font-size: 25px;
    }
    .section2-text p{
        width: 100%; 
        text-align: center;
        font-size: 15px;
    }
}